{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block title %}
   {{ block.super }} - a place to read, learn and write ideas.
{% endblock %}

{% block content %}
<section class="mag-posts-area d-flex flex-wrap">
    <!-- >>>>>>>>>>>>>>>>>>>>
         Main All Featured Posts
    <<<<<<<<<<<<<<<<<<<<< -->
    <div class="mag-all-post-content mt-30 mb-30 p-30 box-shadow">
        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->

            <div class="featured-video-posts">
                <div class="row">
                    <div class="col-lg-4">
                        {% if home_right_stories %}
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            {% for lasted in home_right_stories|slice:":1" %}
                            <!-- Thumbnail -->
                            {% if lasted.featured_image %}
                            <div class="post-thumbnail mb-50">
                                <a href="{{ lasted.get_absolute_url }}">
                                    <img src="{{ lasted.featured_image.url }}" alt="{{ lasted.title }}">
                                </a>
                                <!-- <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a> -->
                            </div>
                            {% endif %}
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a>{{ lasted.created_on|date:'F d, Y' }}</a>
                                    <!-- <a href="archive.html">lifestyle</a> -->
                                </div>
                                <a href="{{ lasted.get_absolute_url }}" class="post-title">
                                    {{ lasted.title }}
                                </a>
                                <p>
                                    {{ lasted.content|safe|truncatewords:20 }}
                                    <a href="{{ lasted.get_absolute_url }}" class="read-more">read more</a>
                                </p>
                            </div>
                            <!-- Post Share Area -->
                            <div class="post-share-area d-flex align-items-center justify-content-between">
                                <!-- Post Meta -->
                                <div class="post-meta pl-3">
                                    <a><i class="fa fa-eye" aria-hidden="true"></i> {{ lasted.hit_count|human_format }}</a>
                                    <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ lasted.total_likes|human_format }}</a>
                                    <a><i class="fa fa-comments-o" aria-hidden="true"></i> {{ lasted.total_post_comments|human_format }}</a>
                                </div>
                                <!-- Share Info -->
                                <div class="share-info">
                                    <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    <!-- All Share Buttons -->
                                    <div class="all-share-btn d-flex">
                                        {% with short_url=request.build_absolute_url %}
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{short_url|urlencode}}&t={{lasted.title}}" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text={{lasted.title}}&url={{short_url}}" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{short_url}}&title={{lasted.title}}&summary={{lasted.content|truncatewords:15}}&source=Holy%20Life%20Ministry" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <p class="no-story-yet">
                               No story to display!.
                            </p>
                        {% endif %}
                    </div>

                    <!--   sliding stories    -->
                    <div class="col-lg-4">
                        <!-- Featured Video Posts Slide -->
                        <!-- <div class="section-heading">
                            <h5>Featured</h5>
                        </div> -->

                        <div class="featured-video-posts-slide owl-carousel">
                            {% if slide_story %}
                                <div class="single--slide">
                                {% for story in slide_story %}
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        {% if story.featured_image %}
                                        <div class="post-thumbnail">
                                            <a href="{{ story.get_absolute_url }}">
                                                <img src="
                                                {{ story.featured_image.url }}
                                                " alt="{{ story.user.username }} story">
                                            </a>
                                        </div>
                                        {% endif %}
                                        <div class="post-content">
                                            <a href="{{ story.get_absolute_url }}" class="post-title">
                                                {{ story.title }}
                                            </a>
                                            <div class="post-meta d-flex">
                                                <a><i class="fa fa-eye" aria-hidden="true"></i> {{ story.hit_count|human_format }}</a>
                                                <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ story.total_likes|human_format }}</a>
                                                <a><i class="fa fa-comments-o" aria-hidden="true"></i> {{ story.total_post_comments|human_format }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% else %}
                                <p class="no-story-yet">
                                   No story to display!.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end col-  -->

                    <div class="col-lg-4">
                        {% if home_left_stories %}
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            {% for lasted in home_left_stories|slice:":1" %}
                            <!-- Thumbnail -->
                            {% if lasted.featured_image %}
                            <div class="post-thumbnail mb-50">
                                <a href="{{ lasted.get_absolute_url }}">
                                    <img src="{{ lasted.featured_image.url }}" alt="{{ lasted.title }}">
                                </a>
                                <!-- <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a> -->
                            </div>
                            {% endif %}
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a>{{ lasted.created_on|date:'F d, Y' }}</a>
                                    <!-- <a href="archive.html">lifestyle</a> -->
                                </div>
                                <a href="{{ lasted.get_absolute_url }}" class="post-title">
                                    {{ lasted.title }}
                                </a>
                                <p>
                                    {{ lasted.content|safe|truncatewords:20 }}
                                    <a href="{{ lasted.get_absolute_url }}" class="read-more">read more</a>
                                </p>
                            </div>
                            <!-- Post Share Area -->
                            <div class="post-share-area d-flex align-items-center justify-content-between">
                                <!-- Post Meta -->
                                <div class="post-meta pl-3">
                                    <a><i class="fa fa-eye" aria-hidden="true"></i> {{ lasted.hit_count|human_format }}</a>
                                    <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ lasted.total_likes|human_format }}</a>
                                    <a><i class="fa fa-comments-o" aria-hidden="true"></i> {{ lasted.total_post_comments|human_format }}</a>
                                </div>
                                <!-- Share Info -->
                                <div class="share-info">
                                    <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    <!-- All Share Buttons -->
                                    <div class="all-share-btn d-flex">
                                        {% with short_url=request.build_absolute_url %}
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{short_url|urlencode}}&t={{lasted.title}}" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text={{lasted.title}}&url={{short_url}}" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{short_url}}&title={{lasted.title}}&summary={{lasted.content|truncatewords:15}}&source=Holy%20Life%20Ministry" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <p class="no-story-yet">
                               No story to display!.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--  end  -->
    </div>
    <!--  end mag-all-posts  -->
</section>


<!-- >>>>>>>>>>>>>>>>>>>>
     Main Posts Area
<<<<<<<<<<<<<<<<<<<<< -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="infinite-container">
                    {% include 'story/load_data/load_home_story.html' %}
                </div><!--  end scroll story  --><br>

                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Loading...</a>
                {% endif %}

                <div class="d-flex justify-content-center" style="display:none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <!--  end col-12  -->

            <div class="col-12 col-md-6 col-lg-5 col-xl-4" id="rightSidebar">
                <div class="sidebar-area bg-white mb-30 box-shadow">

                    {% include 'includes/home-right-sidebar.html' %}

                </div><!--   end  -->

                <div class="sidebar-area">
                    {% include 'includes/footer-sidebar.html' %}
                </div>
            </div>
            <!--  end col-12  -->
        </div>
    </div><!--  end container  -->
</div>
<!--   end    -->
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}
