{% load static %}
{% load filters %}

<form action="{% url 'like_post' %}" method="post" id="like-section">
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        {% if is_liked %}
            <button type="submit" id="like" name="id" value="{{ user_post.id }}" class="liked">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </button>
        {% else %}
            <button type="submit" id="like" name="id" value="{{ user_post.id }}">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </button>
        {% endif %}
        {% if user_post.total_likes %}
            <a href="#" class="total" data-toggle="modal" data-target="#SeeWhoLikeThisModal">
                {{ user_post.total_likes|human_format }} like{{ user_post.total_likes|pluralize }}
            </a>
        {% else %}
            <a>like</a>
        {% endif %}

    {% else %}
        <button type="button" data-toggle="modal" data-target="#LoginModal">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </button>
        {% if user_post.total_likes %}
            <a href="#" class="total" data-toggle="modal" data-target="#LoginModal">
                {{ user_post.total_likes|human_format }} like{{ user_post.total_likes|pluralize }}
            </a>
        {% else %}
            <a>like</a>
        {% endif %}
    {% endif %}
</form>
