{% load static %}
{% load filters %}

<form action="{% url 'tech_like_post' %}" method="post" id="techlike-section">
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        {% if is_liked %}
                <button type="submit" id="tech_likes" name="id" value="{{ techs.id }}" class="liked">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </button>
        {% else %}
            <button type="submit" id="tech_likes" name="id" value="{{ techs.id }}">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </button>
        {% endif %}
        {% if techs.total_likes %}
            <a href="#" class="total" data-toggle="modal" data-target="#SeeWhoLikeThisModal">
                {{ techs.total_likes|human_format }} like{{ techs.total_likes|pluralize }}
            </a>
        {% else %}
            <a>like</a>
        {% endif %}
    {% else %}
        <button type="button" data-toggle="modal" data-target="#LoginModal">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </button>
        {% if techs.total_likes %}
            <a href="#" class="total" data-toggle="modal" data-target="#LoginModal">
                {{ techs.total_likes|human_format }} like{{ techs.total_likes|pluralize }}
            </a>
        {% else %}
            <a>like</a>
        {% endif %}
    {% endif %}
</form>
