
/*   404 Page, 500 Page, 403 Page */
*, :before, :after {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  background: #e3f2fd;
  min-width: 275px;
  height: 100%;
  margin: 0 10vw;
  overflow: hidden;
  color: #138ff2;
  font-family: Roboto;
}
.wrapper404 {
  flex-grow: 2;
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.wrapper404 h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
}
.wrapper404 p {
  width: 95%;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
}

.wrapper404 .buttons {
  white-space: nowrap;
  display: inline-block;
}

.wrapper404 .buttons span {
  display: block;
  text-transform: uppercase;
  color: #b9ddfb;
  letter-spacing: 1.5px;
}
.wrapper404 .buttons a {
  display: inline-block;
  padding: 0.8em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 3px solid #ed3974;
  color: #1674d1;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.wrapper404 .buttons a:hover {
  color: #e3f2fd;
}
.wrapper404 .buttons a:hover:before {
  top: 0;
}
.wrapper404 .buttons a:before {
  content: "";
  background: #ed3974;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}
.space {
  width: 75px;
  height: calc(50vh + 37.5px);
  border-top-left-radius: 37.5px;
  border-top-right-radius: 37.5px;
  overflow: hidden;
  margin: calc(50vh - 37.5px) auto 0 auto;
  position: relative;
  pointer-events: none;
  -webkit-transform: translateZ(0);
}
.blackhole {
  border: 5px solid #1674d1;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.blackhole:after {
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 5px solid #ed3974;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 5;
  transform: rotate(45deg);
}
.ship {
  height: 150px;
  width: 55px;
  margin-left: 10px;
  background: url("https://cbwconline.com/IMG/Codepen/Space%20Ship.svg") center/contain no-repeat;
  animation: blackhole 4s infinite linear;
  position: absolute;
  bottom: -150px;
}

@keyframes blackhole {
  to {
    transform: translateY(-100vh);
  }
}
@media (max-width: 600px) {
  body {
    /*padding-top: 25px;*/
    margin: 0 4vw;
  }
}
