{% load static %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <!-- Logo -->
                    <a href="index.html" class="foo-logo">
                        <img src="{% static 'images/logo_text1.png' %}" alt="Holy Life Ministry">
                    </a>
                    <p>
                        <!-- Ultimately, we believe that the purpose of life is to know and glorify God through an authentic
                        relationship with His Son, Jesus Christ. This purpose is lived out first within our own families
                        then extended, in love, to an increasingly broken world that desperately needs Him. -->
                        With the power of the network, different ways to engage with stories, and the ability to follow your
                        favorite topics, and writers, you’re in control of your reading experience. So the stories
                        that matter most to you are always at your fingertips.
                    <div class="footer-social-info">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <h6 class="widget-title">Make Holy Life Ministry Yours</h6>
                    <p>
                        All you'll need to make Holy Life Ministry yours is to follow all the topics you care about,
                        follow all your favourite writers, and we’ll deliver the best stories for you to your homepage and inbox.
                        You'll be notify whenever your writers published new story.
                    </p>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <h6 class="widget-title">Become a member</h6>
                    <!-- Single Blog Post -->
                    <p>
                        Be part of the Holy Life Ministry family and have unlimited access to the best stories. Meet new and your
                        great favourite writers on Holy Life Ministry. Everyday new stories you love is publish on Holy Life Ministry.
                        Join today. It's free and will always be free. <a href="" class="footer-widget-link">Sign Up</a>
                    </p>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <!-- <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h6 class="widget-title">Channels</h6>
                    <ul class="footer-tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Fashionista</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">DESIGN</a></li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">TRENDING</a></li>
                        <li><a href="#">VIDEO</a></li>
                        <li><a href="#">Game</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Foods</a></li>
                        <li><a href="#">TV Show</a></li>
                        <li><a href="#">Twitter Video</a></li>
                        <li><a href="#">Playing</a></li>
                        <li><a href="#">clips</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     &copy; <script>document.write(new Date().getFullYear());</script> Holy Life Ministry.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'help_homepage' %}">Help</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->
