{% load static %}
{% load crispy_forms_tags %}


<!-- Post A Comment Area -->
<div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>LEAVE A REPLY</h5>
    </div>

    <!-- Reply Form -->
    <div class="contact-form-area">
        <form action="{% url 'quotes_comment' quotes.id %}" method="post" class="comment-form" data-parsley-validate novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-12 comment-textare">
                    {{ comment_form.as_p }}
                </div>
                <div class="col-12">
                    <button class="btn mag-btn mt-30" type="submit">Submit Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Comment Area Start -->
<div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
    {% if comments %}
    <!-- Section Title -->
    <div class="section-heading">
        <h5>COMMENTS ({{ comments.count }})</h5>
    </div>
    {% for comment in comments %}
    <ol>
        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <a href="{% url 'christianbase_userprofile' comment.user.username %}">
                        <img src="
                        {% if comment.user.profile.image %}
                           {{ comment.user.profile.image.url }}
                        {% else %}
                           /static/images/default.png
                        {% endif %}
                        " alt="{{ comment.user.get_full_name }}">
                    </a>
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a class="comment-date">{{ comment.created_on|date:'F d, Y' }}</a>
                    <h6>
                        <a href="{% url 'christianbase_userprofile' comment.user.username %}" class="comment-user">{{ comment.user.get_full_name }}</a>
                    </h6>
                    <p>
                        {{ comment.content }}
                    </p>
                    <div class="d-flex align-items-center Reply">
                        <!-- {% include 'liked/likes_comments/story_comment.html' %} -->
                        <!-- <a href="#" class="like">like</a> -->
                        <!-- <a href="#" class="reply-btn reply">Reply</a> -->
                    </div>
                </div>
            </div>
        </li>
    </ol>
    {% endfor %}
    {% else %}
    <div class="section-heading">
        <h5>Be The First To Comment</h5>
    </div>
    {% endif %}
</div>
