{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   Edit - {{ user.get_full_name }} (@{{ user.username }}) | {{ block.super }}
{% endblock %}

{% block content %}
 <!-- ##### Breadcrumb Area Start ##### -->
<!-- <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/static/images/backgrounds/logoutHeader.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Resend activation link</h2>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">

    <div class="messages" id="messages">
        {% if messages %}
           {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
    </div><!-- end messages --->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Edit Profile!</h5>
                    </div>

                    <form method="post" id="update_user_profile" data-parsley-validate data-url="{{ request.build_absolute_url|safe }}" novalidate>
                        {% csrf_token %}
                        <div class="">
                            <div class="edit-profile">
                                <div class="edit-profile-preview">
                                    <img src="
                                    {% if user.profile.image %}
                                       {{ user.profile.image.url }}
                                    {% else %}
                                       /static/images/default.png
                                    {% endif %}
                                    " class="profile-preview" data-toggle="modal" data-target="#editProfileModal">
                                </div>
                                <div class="edit-profile-set">
                                    <h4>{{ user.get_full_name }}</h4>
                                    <a href="#" data-toggle="modal" data-target="#editProfileModal">
                                        Change Profile Photo
                                    </a>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group row">
                            <div class="col-md-6">
                                {{ uform.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ uform.last_name|as_crispy_field }}
                            </div>
                        </div><!-- end form-group  -->
                        <div class="form-group row">
                            <div class="col-md-6">
                                {{ uform.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ uform.username|as_crispy_field }}
                            </div>
                        </div><!-- end form-group  -->
                        <div class="form-group">
                            {{ pform.bio|as_crispy_field }}
                        </div>
                        <p></p>
                        <button type="submit" class="btn mag-btn mt-30">Update</button>
                    </form>
                </div>
            </div><!--  end col-12  -->
        </div>
    </div><!--   end container  -->
</div>
<!-- ##### Login Area End ##### -->


<!-- Change Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalTitle"
  aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <!-- <div class="modal-header profile-modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Change Profile Photo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <!-- <form method="post" action="" id="remove_photo" data-url="{{ request.build_absolute_url|safe }}"> -->
                <div class="modal-body edit-profile-modal">
                    <p>
                        Change Profile Photo
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                    </p>
                    <p>
                        <a href="{% url 'christianbase_userprofile_upload' user.username %}">
                            Upload Photo
                        </a>
                    </p>
                    <p>
                        <a href="{% url 'christianbase_delete_profilephoto' user.username %}" class="remove_photo">
                            Remove Current Photo
                        </a>
                    </p>
                    <p>
                        <a href="#" data-dismiss="modal">
                            Cancel
                        </a>
                    </p>
                </div>
            <!-- </form> -->
            <!-- <div class="modal-footer profile-modal-footer">
                <a href="#" data-dismiss="modal">Close</a>
            </div> -->
        </div>
        <!--   end modal-content  -->
    </div>
    <!--   end modal-dialog  -->
</div>
<!--  end modal  -->

<!-- ##### Footer Area  ##### -->
{% include 'includes/footer.html' %}
<!-- ##### Footer Area End ##### -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">

    $(document).ready(function() {

        $('#update_user_profile').submit(function(event) {
            event.preventDefault();
            var form = $(event.target);
            $.post(form.attr("action"), form.serialize(), function(data) {

                //alert(data['response']);
                $('#messages').html(
                    "<div class='alert alert-success alert-dismissible'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                    + data.response +
                   "</div>"
                );
                // once form save refresh page!
                setTimeout("window.location.href='{% url 'home' %} '", 2500 );

                console.log(data.response);

            }, 'json');
        });
    });
</script>
<script type="text/javascript">
</script>
{% endblock %}
