{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   {{ title }} | {{ block.super }}
{% endblock %}

{% block content %}
 <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/static/images/backgrounds/prayer_request1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>How can we pray for you?</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">
    <div class="messages" id="messages">
        {% if messages %}
           {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
    </div><!-- end messages --->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <h5 style="text-align: center;">
                        We are pleased to join you in praying for specific needs.
                    </h5>
                    {% if request.user.is_authenticated %}
                        <h6 class="text-center">
                            Please write your requests here
                        </h6>
                        <div class="prayer_request">
                            <form method="post" id="" data-parsley-validate data-url="{{ request.build_absolute_url|safe }}" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form|crispy }}
                                </div>

                                <button type="submit" class="btn mag-btn mt-30">Submit Prayer Request</button>
                            </form>
                        </div>
                    {% else %}
                        <p class="text-center">
                            Please login to your account to be able to sent your prayer request. If you don't have account
                            with us you can <a href="{% url 'create-account' %}" class="prayer-signup"> sign Up</a> it free.
                        </p>
                        <p class="text-center">
                            <a href="{% url 'login' %}" class="btn mag-btn">Login</a>
                        </p>
                    {% endif %}
                </div>
            </div><!--  end col-12  -->
        </div>
    </div><!--   end container  -->
</div>
<!-- ##### Login Area End ##### -->


<!-- ##### Footer Area  ##### -->
{% include 'includes/footer.html' %}
<!-- ##### Footer Area End ##### -->

{% endblock %}
