{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   Sign In | {{ block.super }}
{% endblock %}

{% block content %}
 <!-- ##### Breadcrumb Area Start ##### -->
<!-- <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="christianBaseLogin">
    <div class="bg-layer">
        <div class="mag-login-area py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="login-content bg-white p-30 box-shadow">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Great! Welcome back!</h5>
                            </div>
                            <!-- success message  -->
                            <div class="message">
                                {% if messages %}
                                   {% for message in messages %}
                                      <div class="alert alert-{{ message.tags }}">
                                          {{ message }}
                                      </div>
                                   {% endfor %}
                                {% endif %}
                            </div>

                            <form method="post" data-parsley-validate novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form|crispy }}
                                </div><!-- end form-group  -->
                                <div class="form-group row">
                                    <div class="col-6 forgot">
                                        <a href="{% url 'password_reset' %}">Forgot password?</a>
                                    </div>
                                    <div class="col-6 forgot">
                                        Don't have account? <a href="{% url 'create-account' %}">Sign Up</a>
                                    </div>
                                </div>
                                <div class="form-inline row registBtnAlred">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn mag-btn mt-30">Login</button>
                                    </div>
                                    <span class="mt-4"><a href="{% url 'christianbase_recover_account' %}">Account Lock?</a></span>
                                </div>
                            </form>
                        </div>
                    </div><!--  end col-12  -->
                </div>
            </div><!--   end container  -->
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->


<!-- ##### Footer Area  ##### -->
{% include 'includes/footer.html' %}
<!-- ##### Footer Area End ##### -->

{% endblock %}
