{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   Resend activation link | {{ block.super }}
{% endblock %}

{% block content %}
 <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/static/images/backgrounds/logoutHeader.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Resend activation link</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Enter your email you used to sign up!</h5>
                    </div>

                    <form method="post" data-parsley-validate novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form|crispy }}
                        </div><!-- end form-group  -->
                        <p></p>
                        <button type="submit" class="btn mag-btn mt-30">Resend Activation Link</button>
                    </form>
                </div>
            </div><!--  end col-12  -->
        </div>
    </div><!--   end container  -->
</div>
<!-- ##### Login Area End ##### -->


<!-- ##### Footer Area  ##### -->
{% include 'includes/footer.html' %}
<!-- ##### Footer Area End ##### -->

{% endblock %}
