{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load filters %}

{% block title %}
   {{ quotes.title }} - Quotes | {{ block.super }}
{% endblock %}

{% block content %}
<!-- ##### Breadcrumb Area End ##### -->
<br>
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area">
    <div class="messages">
        {% if messages %}
           {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
    </div>
    <div class="container">

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-xl-8">
                {% if quotes %}
                <div class="post-details-content bg-white mb-30 p-30 box-shadow">
                    <div class="blog-content">

                        <div class="post-meta">
                            <a class="post-meta-a">{{ quotes.created_on|date:'F d, Y' }}</a>

                            <div class="story_detail_btn">
                                {% if quotes.user == user %}
                                    <a href="{% url 'quotes-edit' quotes.slug %}">
                                        <button class="btn btn-outline-secondary btn-sm mt-1 mb-1" data-toggle="tooltip" title="Edit story">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                    <button class="btn btn-outline-info btn-sm mt-1 mb-1" data-toggle="modal" data-target="#ArchiveStoryModal" rel="tooltip" data-toggle="tooltip" title="Archive story">
                                        <i class="fa fa-archive"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <h4 class="post-title">
                            {{ quotes.title }}
                        </h4>
                        <!-- Post Meta -->
                        <div class="post-meta-2">
                            <a><i class="fa fa-eye" aria-hidden="true"></i> {{ quotes.hit_count|human_format }}</a>
                            <!--  bible studies like section    --->
                            {% include 'liked/quotes_like_section.html' %}
                            <!--  end bible like section  -->
                            <a><i class="fa fa-comments-o" aria-hidden="true"></i> {{ comments.count|human_format }}</a>
                        </div>
                        {% if quotes.featured_image %}
                            <div class="blog-thumb mb-30">
                                <img src="{{ quotes.featured_image.url }}" alt="Story Banner">
                            </div>
                        {% endif %}
                        <!--  Story content  -->
                        <p>
                            {{ quotes.content|safe }}
                        </p>

                        <!--  Story Tags  -->
                        <div class="story-tags">
                            <ul class="tags">
                                {% for story_tags in quotes.tags.all %}
                                   <li><a href="#" class="tag">{{ story_tags }}</a></li>
                               {% endfor %}
                            </ul>
                        </div>

                        <!-- Like Dislike Share -->
                        <div class="like-dislike-share">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://holylifeministry.com{{ request.get_full_path|urlencode }}" class="facebook" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook
                            </a>
                            <a href="https://twitter.com/share?url=https://holylifeministry.com&text={{quotes.title}}@HolyLifeMinistry" class="twitter" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://holylifeministry.com" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i> Share on Linkedin
                            </a>
                            <!-- <div class="share">
                                {% if not request.user == quotes.user %}
                                    {% if request.user.is_authenticated %}
                                        {% include 'story/bookmarks/bookmark_section.html' %}
                                    {% endif %}
                                {% endif %}
                            </div> -->
                        </div>
                        {% if quotes.written_by %}
                        <div class="writtenBy">
                            <h5> Written by</h5>
                        </div>
                        <!-- Post Author -->
                        <div class="post-author d-flex align-items-center">
                            <div class="post-author-thumb">
                                <img src="
                                {% if quotes.written_by.user.profile.image %}
                                   {{ quotes.written_by.user.profile.image.url }}
                                {% else %}
                                   /static/images/default.png
                                {% endif %}
                                " alt="{{ quotes.written_by.user.get_full_name }}">
                            </div>
                            <div class="post-author-desc pl-4">
                                <!-- <a href="#" class="">Written by</a> -->
                                <div class="author-name">
                                    <a href="{% url 'christianbase_userprofile' quotes.written_by.user.username %}" class="">{{ quotes.written_by.user.get_full_name }}</a>
                                    <a href="{% url 'christianbase_userprofile' quotes.written_by.user.username %}" class="btn btn-secondary btn-sm author-follow-btn ml-1">View Profile</a>

                                </div>
                                <p>
                                    {% if quotes.written_by.user.profile.bio %}
                                       {{ quotes.written_by.user.profile.bio }}
                                    {% else %}
                                       New to HolyLifeMinisry
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <!-- End Post Author -->
                        {% endif %}

                        <!-- Post Author -->
                        <div class="post-author d-flex align-items-center">
                            <div class="post-author-thumb">
                                <img src="
                                {% if quotes.user.profile.image %}
                                   {{ quotes.user.profile.image.url }}
                                {% else %}
                                   /static/images/default.png
                                {% endif %}
                                " alt="{{ quotes.user.get_full_name }}">
                            </div>
                            <div class="post-author-desc pl-4">
                                <!-- <a href="#" class="">Written by</a> -->
                                <div class="author-name">
                                    <a href="{% url 'christianbase_userprofile' quotes.user.username %}" class="">{{ quotes.user.get_full_name }}</a>
                                    {% if request.user == quotes.user %}
                                    <a href="{% url 'christianbase_userprofile' quotes.user.username %}" class="btn btn-secondary btn-sm author-follow-btn ml-1">View Profile</a>
                                    {% else %}
                                    <a href="#" data-id="{{ quotes.user.id }}" data-action="{% if request.user in quotes.user.followers.all %}un{% endif %}follow" class="follow btn btn-secondary btn-sm author-follow-btn ml-1">
                                        {% if request.user not in quotes.user.followers.all %}
                                           Follow
                                        {% else %}
                                           Following
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                </div>
                                <p>
                                    {% if quotes.user.profile.bio %}
                                       {{ quotes.user.profile.bio }}
                                    {% else %}
                                       New to HolyLifeMinistry
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="main-comment-section">
                <!--   comments   -->
                {% include 'comments/quotes_comments.html' %}
                <!--   end comments  -->
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    {% include 'includes/story_detail_right_sidebar.html' %}
                </div>
            </div>

        </div>
    </div>
</section>
<!--  Post Detail Area End --  -->


<!-- See Who Like This  Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalTitle" aria-hidden="true">
    <!-- users who like this .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body who_users_like_modal">
                    <form>
                        <p id="SeeWhoLikeThisModalModalTitle">Sign In
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </p>
                        <div class="ClikLoginORSignUp">
                            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">
                                Login
                            </a>


                            <a href="{% url 'create-account' %}" class="btn btn-secondary btn-sm SigUp">
                                Create account
                            </a>
                            <hr>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer profile-modal-footer">
                    <a href="#" data-dismiss="modal">Close</a>
                </div> -->
            </div>
            <!--   end modal-content  -->
        </div>
    </div>
    <!--   end modal-dialog  -->
</div>
<!--  end modal  -->


<!-- See Who Like This  Modal -->
<div class="modal fade" id="SeeWhoLikeThisModal" tabindex="-1" role="dialog" aria-labelledby="SeeWhoLikeThisModalTitle" aria-hidden="true">
    <!-- users who like this .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body who_users_like_modal">
                    <form>
                        <p id="SeeWhoLikeThisModalModalTitle">Likes
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </p>
                        <div class="see_users_likes">
                            {% for user_like in quotes.quotes_likes.all %}
                                <div class="media">
                                    <a class="media-left" href="{% url 'christianbase_userprofile' user_like.username %}">
                                        <img class="media-object" src="
                                        {% if user_like.profile.image %}
                                           {{ user_like.profile.image.url }}
                                        {% else %}
                                           /static/images/default.png
                                        {% endif %}
                                        " width="100" alt="{{ user_like.username }}">
                                    </a>
                                    <div class="media-body">
                                        <div class="media-heading">{{ user_like.username }}</div>
                                        <span>{{ user_like.get_full_name }}</span>
                                        <a href="{% url 'christianbase_userprofile' user_like.username %}" class="btn btn-secondary btn-sm">
                                            See Profile
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer profile-modal-footer">
                    <a href="#" data-dismiss="modal">Close</a>
                </div> -->
            </div>
            <!--   end modal-content  -->
        </div>
    </div>
    <!--   end modal-dialog  -->
</div>
<!--  end modal  -->



<!-- Move To Archive  Modal -->
<div class="modal fade" id="ArchiveStoryModal" tabindex="-1" role="dialog" aria-labelledby="ArchiveStoryModalTitle"
  aria-hidden="true">

    <!-- Move story to Archive .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <form method="post" action="" id="archive_story" data-url="{{ request.build_absolute_url|safe }}">
                <div class="modal-body permanant_delete-modal">
                    <p>
                        Archive story
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                    </p>
                    <p>
                        Doing this will put this story in private mood and mean only you can see it.
                    </p>
                    <p style="display: none;">
                        <!-- <a href="" class="feedback">
                            Please tell us why you leaving!
                        </a> -->
                    </p>
                    <p>
                        <a href="{% url 'make-quotes-archive' quotes.slug %}" class="permanant_delete">
                            Yes! Continue
                        </a>
                    </p>
                    <p>
                        <a href="#" data-dismiss="modal">
                           Cancel
                        </a>
                    </p>
                </div>
            </form>
            <!-- <div class="modal-footer profile-modal-footer">
                <a href="#" data-dismiss="modal">Close</a>
            </div> -->
        </div>
        <!--   end modal-content  -->
    </div>
    <!--   end modal-dialog  -->
</div>
<!--  end modal  -->

<!-- ##### Footer Area  ##### -->
{% include 'includes/footer.html' %}
<!-- ##### Footer Area End ##### -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // tooltips
        $(document).ready(function(){
            $('[rel="tooltip"]').tooltip({trigger: "hover"});
        });
    </script>

    <script type="text/javascript">
        $(document).on('click', '#quotes_likes', function(event){
            event.preventDefault(event);
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "quotes_like_post" %}',
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                   $('#quoteslike-section').html(response['form'])
                   console.log($('#quoteslike-section').html(response['form']));
                },
                error: function(rs, e){
                   console.log(rs.responseText);
                },
            });
        });
    </script>
{% endblock %}
